

%bgShadow{
    box-shadow: 0px 0px 37px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 37px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 37px -10px rgba(0,0,0,0.75);
}

%boxShadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

%flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

%flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%containerLg{
    max-width: 992px;
    margin: auto;
}

%textShadow{
    text-shadow: 1px 1px #000000;
}