$color-green: #6fd806;
$color-golden: #FFD700;
$color-white: #fff;
$color-black: #000;

$bg-black:rgb(41, 41, 41);
$bg-black2:rgba(0, 0, 0, 0.76);
$bg-golden: #ffd900ab; 
$bg-white: rgba(255, 255, 255, 0.76);

$fz-title: 25px;